@use "./typography" as *;
@use "./variables" as *;
@use "./mixins" as *;

* {
  margin: 0;
  padding: 0;
  font-family: $font-regular;
}

h1 {
  font-family: $font-demi;
  font-size: 1.5rem;
  line-height: 2rem;

  @include tablet {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

h2 {
  font-family: $font-demi;
  font-size: 1.5rem;
  line-height: 2rem;

  @include tablet {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

h3 {
  font-family: $font-demi;
  font-size: 0.75rem;
  line-height: 1.375rem;

  @include tablet {
    font-size: 1.3438rem;
    line-height: 2rem;
  }
}

p {
  font-size: 0.73rem;
  line-height: 1.125rem;

  @include tablet {
    font-size: 0.9rem;
    line-height: 1.375rem;
  }
}

a {
  font-family: $font-regular;
  font-size: 0.8rem;
  line-height: 1.5rem;
  text-decoration: none;
  cursor: pointer;
}

button {
  height: 2.5rem;
  width: 100%;
  background-color: $primary-color-1;
  color: $primary-color-3;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  border: none;
  border-radius: 0.25rem;
  font-family: $font-demi;
  cursor: pointer;

  @include tablet {
    min-width: 9.375rem;
    max-height: 40px;
    padding: 10px 32px;
    font-size: 0.8125rem;
    box-sizing: border-box;
  }

  &:hover {
    background-color: $secondary-color-1;
  }
}

label,
h5 {
  color: $primary-color-2;
  font-size: 0.6875rem;
  line-height: 1.25rem;
  margin-bottom: 0.25rem;

  @include tablet {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}

input,
textarea {
  background-color: $secondary-color-3;
  margin-bottom: 1rem;
  padding: 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid $secondary-color-2;
  outline: none;
  resize: none;

  @include tablet {
    padding: 1rem;
    margin-bottom: 1.5rem;
  }

  &::placeholder {
    color: $primary-color-1;
    opacity: 1;
  }

  &:focus {
    border: 1px solid $primary-color-1;
    opacity: 1;
  }
}

hr {
  margin: 1rem 0;
  border: 1px solid $secondary-color-2;

  @include tablet {
    margin: 1.5rem 3.75rem;
  }

  @include desktop {
    margin: 1.5rem 16rem;
  }
}

.section {
  padding: 1.5rem 1rem 1rem 1rem;

  @include tablet {
    padding: 3rem 2.25rem 2.25rem 2.25rem;
  }

  @include desktop {
    padding: 3rem 8rem 2.25rem 8rem;
  }
}

.error {
  border: 1px solid $error-color;
  opacity: 1;
}

.header {
  background-color: $primary-color-1;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 1rem;

  @include tablet {
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 2.25rem 0 2.25rem;
    gap: 3.5rem;
  }

  @include desktop {
    padding: 0.5rem 8rem 0 8rem;
  }
}

.logo {
  padding-bottom: 0.5rem;

  @include tablet {
    padding: 0;
  }

  &__link {
    text-decoration: none;
  }

  &__image {
    width: 7.5rem;
    height: 1.25rem;
  }

  &--footer {
    padding-top: 1.5rem;

    @include tablet {
      position: absolute;
      top: 2.2rem;
      right: 2.25rem;
    }

    @include desktop {
      right: 8rem;
    }
  }
}

.nav {
  &__list {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;

    @include tablet {
      gap: 3rem;
    }
  }

  &__item {
    list-style: none;
    width: 50%;
  }

  &__link {
    display: block;
    color: $secondary-color-2;
    padding-bottom: 0.5rem;

    @include tablet {
      padding: 1rem 0 1.5rem 0;
    }

    @include desktop {
      padding: 1.5rem 0 2rem 0;
    }

    &--active {
      font-family: $font-demi;
      @include navigation_style(0.2188rem, $primary-color-3, $primary-color-3);
    }

    &:hover {
      @include navigation_style(0.2188rem, $primary-color-3, $primary-color-3);
    }

    &--shows {
      @include desktop {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
      }
    }
  }
}

.hero {
  position: relative;

  &__overlay {
    width: 100%;
    height: 58vw;
    background-color: $overlay-color;
    position: absolute;
    z-index: 1;

    &--shows {
      height: 85vw;

      @include tablet {
        height: 65vw;
      }

      @include desktop {
        height: 50vw;
      }
    }
  }

  &__wrapper {
    width: 100%;
    height: 58vw;
    display: flex;
    justify-content: normal;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 0;

    &--biography {
      background-image: url("../assets/images/hero-bio.jpg");
    }

    &--shows {
      background-image: url("../assets/images/hero-shows.jpg");
      height: 85vw;
      flex-direction: column;
      justify-content: center;
      align-items: start;

      @include tablet {
        height: 65vw;
      }

      @include desktop {
        height: 50vw;
        background-position: 50% 32%;
        flex-direction: row;
        align-items: center;
      }
    }
  }

  &__headings {
    width: 80%;
  }

  &__title {
    position: relative;
    z-index: 2;
    padding: 0.5rem 1rem;
    color: $primary-color-3;

    @include tablet {
      padding: 1rem 2.25rem;
      width: 79%;
    }

    @include desktop {
      padding: 1rem 8rem;
    }

    &--shows {
      @include tablet {
        width: 83%;
      }

      @include desktop {
        width: 65%;
      }
    }
  }

  &__subtitle {
    font-size: 14px;
    position: relative;
    padding: 1.5rem 1rem 0.5rem 1rem;
    z-index: 2;
    font-weight: 400;
    color: $primary-color-3;

    @include tablet {
      padding-left: 2.25rem;
      font-size: 24px;
      font-family: "Avenir Demi";
    }

    @include desktop {
      padding-left: 8rem;
      padding-top: 0;
    }
  }

  &__media {
    position: relative;
    padding: 0rem 1rem;
    z-index: 2;

    @include tablet {
      padding: 1rem 1rem 0rem 2.25rem;
    }

    @include desktop {
      padding: 2rem 8rem 0 0;
      padding-left: 0;
      padding-top: 2rem;
      padding-right: 8rem;
      padding-bottom: 0;
    }
  }

  &__iframe {
    width: 100%;
    height: 80%;

    @include tablet {
      width: 53vw;
      height: 10rem;
      max-width: 26.25rem;
    }

    @include desktop {
      width: 63vw;
    }
  }
}

.footer {
  background-color: $primary-color-1;
  color: $primary-color-3;

  @include tablet {
    position: relative;
  }
}

.socials {
  @include tablet {
    display: flex;
    align-items: baseline;
  }

  &__title {
    padding-bottom: 1rem;

    @include tablet {
      padding-right: 2rem;
    }

    @include desktop {
      padding-right: 3rem;
    }
  }

  &__link {
    padding-right: 1.5rem;
  }
}

.address-wrapper {
  @include tablet {
    display: flex;
    justify-content: space-between;
  }

  @include desktop {
    justify-content: normal;
    gap: 3.75rem;
  }
}

.address {
  padding-top: 1.5rem;

  &--spacing {
    padding-bottom: 1rem;
  }

  &__title {
    padding-bottom: 1rem;

    @include tablet {
      font-size: 0.9rem;
      line-height: 2rem;
    }
  }

  &__info {
    &--email {
      padding-top: 1rem;

      @include tablet {
        padding-top: 1.5rem;
      }
    }
  }
}

.copyright {
  padding-top: 1rem;
  padding-bottom: 1rem;

  @include tablet {
    padding-top: 1.5rem;
  }
}
