@font-face {
  font-family: "Avenir Regular";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Avenir Demi";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
}

@font-face {
  font-family: "Avenir Bold";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
}
