$primary-color-1: #323232; //BandSite-Black
$primary-color-2: #afafaf; //Silver
$primary-color-3: #ffffff; //White
$secondary-color-1: #000000; //BandSite-DarkBlack
$secondary-color-2: #e1e1e1; //Mercury
$secondary-color-3: #fafafa; //Alabaster
$font-regular: "Avenir Regular", sans-serif;
$font-demi: "Avenir Demi", sans-serif;
$font-bold: "Avenir Bold", sans-serif;
