@use "./partials/globals" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

.hero {
  position: relative;

  &__wrapper {
    width: 100%;
    height: calc(100vw * 9 / 16);
    display: flex;
    justify-content: normal;
    align-items: center;
    background-image: url("../assets/images/hero-bio.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 0;
  }

  &__overlay {
    width: 100%;
    height: calc(100vw * 9 / 16);
    background-color: $overlay-color;
    position: absolute;
    z-index: 1;
  }

  &__title {
    position: relative;
    z-index: 2;
    padding-left: 1rem;
    color: $primary-color-3;

    @include tablet {
      padding-left: 2.25rem;
    }

    @include desktop {
      padding-left: 8rem;
    }
  }
}

.about {
  color: $primary-color-1;

  &__body-wrapper {
    @include tablet {
      display: flex;
      gap: 1.5rem;
    }

    @include desktop {
      gap: 2rem;
    }
  }

  &__title {
    @include page_titles($primary-color-1);
  }

  &__highlight {
    overflow: hidden;

    @include tablet {
      margin: 0 3.75rem;
    }

    @include desktop {
      margin: 0 5.5rem;
    }
  }

  &__image {
    width: 100%;
    margin-top: -16%;
    padding-bottom: 1rem;

    @include tablet {
      margin-top: -12%;
      padding-bottom: 1.5rem;
    }

    @include desktop {
      margin-top: -10%;
    }
  }

  &__subtitle {
    @include tablet {
      font-size: 1.4rem;
    }

    @include desktop {
      width: 79%;
      padding-top: 0.5rem;
    }
  }

  &__author {
    padding: 0.5rem 0 1rem 0;
    font-size: 0.78rem;

    @include tablet {
      padding: 0.5rem 0 2rem 0;
      font-size: 1rem;
    }
  }

  &__story {
    @include tablet {
      margin: 0 3.75rem;
    }

    @include desktop {
      margin: 0 5.5rem;
    }
  }

  &__body {
    padding-top: 1rem;
  }
}

.gallery {
  background-color: $secondary-color-3;

  &__title {
    @include page_titles($primary-color-1);
  }

  &__images {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;

    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: 0;
      gap: 1rem;
    }
  }

  &__image-wrapper {
    @include tablet {
      width: 31%;
    }

    @include desktop {
      width: 32%;
    }
  }

  &__image {
    width: 100%;
  }
}

.comments {
  &__title {
    @include page_titles($primary-color-1);
  }
}

.comments-form {
  display: flex;
  gap: 1rem;

  @include tablet {
    margin: 0 3.75rem;
  }

  @include desktop {
    margin: 0 16rem;
  }

  &__fields {
    display: flex;
    flex-direction: column;
    align-items: normal;
    flex-grow: 1;
  }

  &__field {
    display: flex;
    flex-direction: column;
  }

  &__button {
    align-self: end;
  }
}

.comment {
  display: flex;
  margin-bottom: 1rem;

  @include tablet {
    margin: 0 3.75rem;
  }

  @include desktop {
    margin: 0 16rem;
  }

  &__content {
    width: 85%;
    margin-left: 1rem;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__author {
    @include tablet {
      font-size: 0.9rem;
    }
  }

  &__date {
    color: $primary-color-2;
    font-family: $font-regular;
    font-weight: 400;

    @include tablet {
      font-size: 0.9rem;
    }
  }
}

.avatar {
  width: 2.25rem;
  height: 2.25rem;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  background-color: $secondary-color-2;

  @include tablet {
    width: 3rem;
    height: 3rem;
  }

  &--comment-form {
    margin-top: 1.5rem;
  }

  &__image {
    display: inline;
    margin: 0 auto;
    margin-left: -14%;
    height: 108%;
    margin-top: -0.0625rem;
    width: auto;
  }
}

.divider {
  &:last-child {
    margin-bottom: 0;
  }
}
